nav{
    border: 2px solid #222;
    display: flex;
    justify-content: space-between;
    background-color: rgb(113, 177, 199);
}
.a{
    display: flex;
}
nav .logo img{
    object-fit: contain;
    width: 150px;
    height: 150px;
}
nav .links{
    margin: 60px 10px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
nav .a .h h1 {
    text-shadow: 2px 2px 5px red;
  }
  h1{
    padding: 20px 0px;
    font-size: 35px;
  }
  .main{
    padding: 10px 0px;
  }
  .banner video{
    object-fit: cover;
    width: 1280px;
    height: 700px;
  }
  .text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    border: 1px solid wheat;
    background-color: transparent;
    padding: 20px 40px 40px 40px;
}
  #shade{
    filter: brightness(60%);
  }
  #img{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(216, 150, 6);
  }
  #image{
    float: left;
  }
  .space{
    padding: 0px 10px;
  }
  .nemo {
    border: 2px solid black;
    padding: 10px 10px;
    margin: 10px 0px;
  }
  .main .nemo h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-weight: lighter;
    color: #222;
    padding: 0px 10px;
  }
  .main .nemo img{
    border: 1px solid white;
  }
  